.formContainer {
  min-width: 75%;
}

.fullWidth {
  width: 100%;
}

.openForm {
  display: block;
}

.heading {
  color: #002964;
  font-weight: 500;
  font-size: 28px;
}

.label {
  display: block;
}

.textField {
  font-size: 1rem;
  padding: 16px;
  border: 1px solid #e3e5e5;
  font-family: var(--font-poppins);
  border-radius: 8px;
  box-sizing: border-box;
}

.textField::placeholder {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

.textArea {
  font-family: var(--font-poppins);
  font-size: 16px;
  padding: 16px;
  border: 1px solid #e3e5e5;
  border-radius: 8px;
  box-sizing: border-box;
  resize: none;
  font-family: var(--font-poppins);
  height: 200px;
}

.textArea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
  letter-spacing: 0;
}

.addTaskBtn {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #002964;
  border: none;
  box-shadow: none;
  padding: 10px;
  border-radius: 4px;
}

.errorContainer {
  height: 30px;
}

.error {
  background-color: #ff5555;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}
