.container {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}

.add-task-container {
  background-color: #e8f2ff;
}

.inner-container {
  height: 100%;
  padding: calc(100vh * 0.1) 10%;
}

.heading {
  font-size: 28px;
  font-weight: 500;
  color: #002964;
}

.formModal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: black;
}

.formModalInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e8f2ff;
}

@media (min-width: 750px) and (max-width: 800px) {
  .inner-container {
    padding: calc(100vh * 0.05);
  }
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: 0fr 1.75fr;
    overflow: auto;
  }

  .createTaskContainer {
    display: none;
  }
}
